
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
    width: 100%;

}
.header{

/* background-color: aquamarine; */
width: 100%;
/* position: sticky; */
top: 0;
/* border: 2px solid black; */
}
.header-content{
    /* border: 3px solid green; */
    margin: auto;
    width: 80%;
    height: 10vh;
    display: flex;
justify-content: space-between;
align-items: center;


}
.logo{
    display: flex;
    /* border: 3px solid orange; */
    justify-content: center;
    align-items: center;

}

.logo img{
    height: 40px;
    width:40px;

}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
  


}

.list a{
    color: brown;
    font-weight: bold;
    font-size: 1.1rem;
}
.Contact-Button{
    /* border: 2px solid red; */
   
    color: white;
    background-color: blue;
    border-radius: .4rem;
   padding: 0.75rem 1.5rem;
   transition-property: all;
   transition-duration: 1s;

    
}
.list a:hover{
    color: blueviolet;
}


.item{
  padding: 1rem;

}
.logo span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-weight: bolder;
    font-size: 2em;
    color: black;
    
}
.hamburger {
    display: none;
     
 }
 
 .hamburger img{
     height: 1.5rem;
     width: 2rem;
     background-color: white;
     }

/* hero section------------------------ */
main{
/* border: 2px solid black; */
padding:0rem  0rem;

/* border: 2px solid black; */

}
.hero{

    max-width: 900px;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 1rem;
    display: flex;
    /* border: 2px solid yellow; */
    padding-left: 2rem;



}
.hero .content1{

    width: 50%;
    /* border: 2px solid yellow; */
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    0%{transform: translateX(-100%);
    opacity: 0;}

    100% {transform: translateX(0%);
    opacity: 1;}
  }
.hero .content1 .title{
   color: indigo;
   font-weight: bold;
   margin-top: 2.5rem;
}
.hero .content1  .heading{
font-size: 2.2rem;
padding: 0.5rem 2rem 0.5rem 0rem;
/* border: 1px solid red; */

  
}
.hero .content1 .description{

padding: 2.5rem 7rem 2.5rem 0rem;
text-align: start;
/* border: 1px solid red; */
opacity: .5;
   
}
.hero .content1 .button{
 
       display: flex;
       /* border: 2px solid red; */
       display: flex;
gap: 3rem;
margin-bottom: 2.5rem;
   
}
.Start{

    color: white;
    background-color: rgb(192, 9, 9);
    border-radius: .4rem;
   padding: 0.75rem 1.5rem;
   transition-property: all;
   transition-duration: 1s;
}

  

.Tour{


    color: white;
    background-color: rgb(46, 18, 206);
    border-radius: .3rem;
   padding: 0.75rem 1.5rem;
   transition-property: all;
   transition-duration: 1s;

  
}
.Start:hover , .Contact-Button:hover, .Tour:hover {
    background-color: yellow;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
.hero .content2{
width: 50%;
/* border: 2px solid rgb(59, 7, 7); */
border-radius: 1rem;



}
.hero .content2 img{
   
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
   
}


.company-container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 2rem;

/* border: 2px solid rgb(160, 7, 7); */
}
.company-container .company-heading{

    padding-top: 3rem;
    color:indianred;

}

.company-grid{
 

    /* border: 2px solid rgb(160, 7, 7); */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding: 2rem;
    margin-top: 2rem;
border-radius: 12px;
background-color: lightgray;
animation-name: example;
animation-duration: 2s;

}
.company-logo{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.company-logo img{
    height: 40px;
    background-color: lightgray;
    color: lightcoral;
}
.section{
    background-color: antiquewhite;


}

.section-content{
    max-width: 760px;
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    flex-direction: column;
   align-items: center;
   

}
.section-info{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    /* border: 2px solid rgb(215, 1, 1); */
}

.section-heading{

    /* border: 2px solid black; */
    margin-top: 1rem;
    
}
.section-paragraph{
  text-align: center;
  padding: 0.5rem 2rem;
  line-height: 1.2rem;
}
.section-grid{
    justify-content: center;
    width: 100%;
    display: grid;
    /* border: 2px solid black; */
grid-template-columns: repeat(auto-fit, minmax(220px,300px));
gap: 1rem;
padding:4rem 1rem;


}

.section-grid-item{
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
align-items: center;
background-color: rgb(155, 155, 184);
}

.section-grid-item-icon{
padding-top: 1rem;
}
.section-grid-item-heading{

}
.section-grid-item-para{
text-align: center;
padding: 2rem;
padding-top: .3rem;

}


/*< ------------------testimonial part-----------> */

.testimonial-part{

    /* border: 2px solid gold; */
    padding-bottom: 2rem;

}
.testimonial-content{
    /* border: 2px solid green; */
    max-width: 1000px;
    margin: auto;

}
.testimonial-heading{
text-align: center;
margin-top: 2rem;
}

.testimonial-grid{
    
    /* width: 100%; */
   display: grid;
   justify-content: center;
   gap: 1rem;
    
    /* border: 2px solid rgb(14, 15, 14); */
grid-template-columns: repeat(auto-fit,minmax(200px,300px));
margin-top: 2rem;



}
.testimonial-grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    border-radius: 0.5rem;
    /* padding: 2rem 2rem; */
    text-align: center;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
transition-duration: 0.5s;
transition-property: all;
padding-bottom: 5px;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.testimonial-grid-item:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(1px);
   
  
}

.testimonial-gird-item-para{
text-align: center;
padding: 1rem 0.5rem;
font-size: small;

}

.testimonial-gird-item-img{
width: 50px;
height: 50px;
margin-bottom: 1rem;
}

.testimonial-gird-item-img img {
width: 50px;
height: 50px;
}

.testimonial-gird-item-person-details{
display: flex;
flex-direction: column;
align-items: center;
font-size: small;
color: blue;
}



/*< ------------------news letter part-----------> */
.news-letter{
   

}

.news-letter-content{
max-width: 760px;
/* border: 2px solid black; */
margin: auto;
display: flex;
/* padding-bottom: 4rem; */

}
.news-letter-content1{
  width: 50%;
 
 

}
.news-letter-content1 img{
    height: 100%;
    width: 100%;
}
.news-letter-content2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
/* border: 2px solid black; */
/* margin-bottom: 2rem; */
padding-bottom: 4rem;
background-color: rgb(212, 194, 194);
}
.news-letter-content2 h2{
    color: blue;
    margin-top: 4rem;
    margin-bottom: 0.1rem;
    align-self: flex-start;
    margin-left: 1.5rem;

  
}
.news-letter-content2 span{
    /* border: 1px solid black; */
    align-self: flex-start;
    margin-left: 1.5rem;
}
.news-letter-content2 form{
    display: flex;
    margin-top: 1rem;
    align-self: flex-start;
    margin-left: 1.5rem;
    gap: 1rem;

}
.send{
padding: 0.2rem 1rem;
background-color:blue;
border-radius: 2px;
text-decoration: none;
border: none;
}

footer{
    margin-top: 5rem;
    padding-bottom: 10rem;
    background-color: rgb(25, 24, 24);
    padding-top: 5rem;
    color: white;
   
}
li a{
    text-decoration: none;
    color: aliceblue;
   
}
li a:hover{
    color: beige;
}

.column-heading{
    color: rgb(196, 157, 157);
}
.footer-content{
    max-width: 760px;
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    /* gap: 1rem; */
}

.sidefooter{

    /* border: 2px solid rgb(62, 193, 23); */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1.5;
}
.first-side{
    display: flex;
    gap: 1rem;
}
.first-side img{
    height: 3rem;
    width: 4rem;
    /* border: 2px solid black; */
}
.comp-logo{
    border-radius: 2px ;
}

.second-side{

}
.third-side{display: flex;
gap: 2rem;

}
.third-side img{
    height:2rem ;
    width: 2.5rem;
}
.footer-grid{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,100px));
    /* border: 2px solid gold; */
    flex: 2;
    justify-content: space-around;
}
.footer-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    /* border: 1px solid black; */
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}






/*<<<<<<------------ Media queries down 330px ------------->>>>> */


@media (max-width:330px){
    .header-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .company-grid{
 

        /* border: 2px solid rgb(160, 7, 7); */
        display: grid;
        grid-template-columns:1fr;
        gap: 3rem;
        padding: 1rem;
        margin-top: 2rem;
    
    }
    .third-side{
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
        align-items: center;
       }
}





/*<<<<<<------------ Media queries down 960px ------------->>>>> */
@media (max-width:960px) {
    .list{
        display: none;
    }
    .hamburger {
        display: block;
     
       
    }
    
    .Contact-Button{
        display: none;
    }
    
}


/*<<<<<<------------ Media queries down 760px ------------->>>>> */
@media (max-width:760px) {
    .hero{
        flex-direction: column;
       align-items: center;
       padding: 2rem;
       /* border: 2px solid black; */
       gap: 2rem;
    }
    .hero .content1{
        width: 90%;
        /* border: 2px solid black; */
    }
    .hero .content1 .button{
     
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
    }
    .hero .content1 .description{
        /* border: 1px solid green; */
        padding: 2rem 0rem;
    }
    .hero .content2{
        /* border: 2px solid black; */
        width: 80%;
    }
    .company-grid{
 

        /* border: 2px solid rgb(160, 7, 7); */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        padding: 1rem;
        margin-top: 2rem;
    
    }
   .news-letter-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .news-letter-content1{
    margin: auto;
    width: 100%;
  
   }
   .news-letter-content2{
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid black;
    margin: auto;
  
    
    
   }
   .news-letter-content2 .form{
    flex-direction: column;
   }
   .footer-content{
    flex-direction: column;
    gap: 2rem;
   }
   .sidefooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .send{

   }
  
}